<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
    crossorigin="anonymous"
   
  />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/5152f77347.js" crossorigin="anonymous"></script>
 <script src="https://smtpjs.com/v3/smtp.js"></script>
</head>
<body>
 
 

    <!-- <div class=".container-fluid mt-3 " >
    <nav class="navbar navbar-expand-lg  "  style="background-color: black;" >
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>
      </div> -->
    <div class=".container-fluid">
      <div class="navBar mt-4">
        <div class="logo">
            <h1>MunkyNFTs</h1>
        </div>
        <ul class="links">
            <li>Team</li>
            <li>Buy Munky</li>
            <li>Log In</li>
            <li>Sign In</li>
            <li><button class="toggle" onclick="Toggle()">Toggle</button></li>
        </ul>
      </div>
      <!-- About MunkyNFTs -->
      <div class="about">
        
        <div class="text ">
          <h3>Welcome to MunkyNFTs!</h3>
        <p >Lorem ipsum dolor sit amet, consectetur adipiscing 
          elit, sed do eiusmod tempor incididunt ut labore e
          t dolore magna aliqua. Ut enim ad minim veniam, quis 
          nostrud exercitation ullamco laboris nisi ut aliquip 
          ex ea commodo consequat. Duis aute irure dolor in 
          reprehenderit in voluptate velit esse cillum dolore eu 
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
          non proident, sunt in culpa qui officia deserunt mollit 
          anim id est laborum"</p>
          <div class="buttons">
            <button class="glow-on-hover" type="button">Buy Now:)</button>
            <button class="glow-on-hover" type="button">Join the discord</button>

      </div>
        </div>
        <div class="rightMunky ">
          <ul class="apesPic ">
            <div class="top">
            <li class="apePic m-2"><img src="../images/boredApe1.webp"></img> </li>
            <li class="apePic m-2"><img src="../images/boredApe79.webp"/></li>
           </div>
           <div class="bot">
            <li class="apePic m-2"><img src="../images/boredApe41.webp"/></li>
            <li class="apePic m-2"><img src="../images/boredApe54.webp"/></li>
          </ul></div>
        </div>
      </div>

      <!-- Our team --><h3 class="text-center mb-2">Meet the team</h3>
<div class="team">
      
      <div class="profile ">
        <img src="../images/teamMember1.jpg" class=" test rounded-circle" alt="">
        <span class="text-center name" >Team Member 1</span>
        <p> aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="profile ">
        <img src="../images/teamMember2.jpg" class=" test rounded-circle" alt="">
        <span class="text-center name">Team Member 1</span>
        <p> saliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      </div>
      <div class="profile">
        <img src="../images/teamMember3.jpg" class=" test rounded-circle" alt="">
        <span class="text-center name">Team Member 1</span>
        <p>Lordo eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      </div>
      <div class="profile">
        <img src="../images/teamMember4.jpg" class=" test rounded-circle" alt="">
        <span class="text-center name">Team Member 1</span>
        <p>sealiqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      </div>
      <div class="profile">
        <img src="../images/teamMember5.jpg" class=" test rounded-circle" alt="">
        <span class="text-center name">Team Member 1</span>
        <p> a aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      </div>
      <div class="profile">
        <img src="../images/teamMember6.jpg" class=" test rounded-circle" alt="">
        <span class="text-center name">Team Member 1</span>
        <p>  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      </div>
      <div class="profile">
        <img src="../images/teamMember7.jpg" class=" test rounded-circle" alt="">
        <span class="text-center name"> Team Member 1</span>
        <p> aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      </div>
      <div class="profile">
        <img src="../images/teamMember8.jpg" class=" test rounded-circle" alt="">
        <span class="text-center name">Team Member 1</span>
        <p>olor exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      </div>
    </div>

    <!-- RoadMap -->
     <div class="roadMapContainer">
        <h3>RoadMap </h3>
      
      
     </div>

     <!-- Footer -->
<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/icehcim" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/micheci-martinez-6736201a1/" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/micheci" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->  
    <!-- Section: Form -->
 <h3>Get the best deals using your Email!</h3>
    <form id="submit" >
      <input type="text" id="toEmail" placeholder="Enter Email...">
      <input type="submit" value="Send">
  </form>

   
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
    </div>
    <script src="../js/toggle.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>