body{
   background-color: black;
   color: white;

  }
.lightMode{
  background-color: aliceblue;
  color: black;
}
h1{
    color:rgb(138, 43, 226);
}
.navBar{
  display: flex;
  justify-content: space-around;
}
.links{
  display: flex;
  justify-content: space-around;
  width: 100vh;
  text-decoration: none;
}

ul {
  list-style-type: none;
  
  }


.about{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
img{
  height: 13rem;
}
.apesPic{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2%;
  justify-content: center;
 
  
}
.top.bot{
  margin-top: 2%;
 margin-right: 10px;
}
.apePic{
  padding: 1%;
  
  
}
.rightMunky{
  margin-top:6rem ;
   width: 50%;
  
}
.text{
  width: 25rem;
  margin-top:6rem ;
  margin-left: 6rem;
  padding: 1rem;
  border: 10px solid rgb(138, 43, 226,.6);
  border-radius: 10%;
  height: 29rem;
  background-color: rgb(138, 43, 226,.3);
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.buttons{
  text-align: center;
}
.ProfilePic{
  border: 1px solid black;
}
.test {
  width: 7rem;
  height: 7rem;
  background-color: yellow;
}
.profile{
 
  flex-direction: row;
  flex: 1 0 21%;
 
  
}
.team{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3rem;
}
.name{
  color:rgb(138, 43, 226);
}
.toggle{
  text-decoration: none;
  background-color:rgb(138, 43, 226) ;
  border-radius: 10%;
}